{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Admin Panel</a>
        </div>
    </div>

    <div class="container">
        <div class="col-lg-2 col-md-2">
            <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
                <li><a href="{{ path('user_index') }}">Users</a></li>
                <li><a href="{{ path('usergroup_index') }}">Groups</a></li>
            </ul>
        </div>
        <div class="col-lg-10 col-md-10">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

